.div-container{
width: 40px;
height: 20px;
position: relative;
cursor: pointer;
transition: background-color 0.3s ease;
border-radius: 32px;
background-color: rgba(31, 168, 72, 0.1);

}
.div-container-light{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
     
}
.div-container-dark{
    background-color: #ded9d9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.div-wraper{
    position: absolute;
transition: left 0.3s ease;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  
}
.div-wraper-dark{
      /* background-color: #54654b; */
      background-color: rgb(21, 6, 36);
      border-right: 6px solid #e9f018;
    left: 20px;
}
.div-wraper-light{
    left: 0;
    background-color: #dffce2;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
     border-left: 6px solid #10290d;
    
}
.inputToggle{
  width:0;
  height:0;
  background-color: transparent;
}