.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
}

.content {
  flex-grow: 1;
  width: 100%;
  position: relative;
}

.header-img {
  height: 2rem;
  width: 2rem;
}

.button_toggle {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-image: linear-gradient(to right, #9d98ca, #646764, #060805);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
}
