.shaped {
  float: none;
  shape-outside: none;
  clip-path: none;
}

@media (min-width: 1030px) {
  .shaped {
    float: right;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    shape-margin: 0.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
  }
}
