.dark .header {
  background-color: #1e1e1e;
  color: #ffffff;
}

.light .header {
  background-color: #dffce2;
  color: #535256;
}

.buttonLogout {
  padding: 0.4rem 1.1rem;
  border: none;
  border-radius: var(--radius-2xl);
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dark .buttonLogout {
  background-color: #444;
  color: #fff;
}
.light .buttonLogout {
  background-color: hsla(153, 14%, 41%, 0.3);
  backdrop-filter: blur(5px);
}
