.success{
    margin:0.6rem auto ;
    color: #f5f5f5;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-align: center;
    border: 4px solid rgb(44, 207, 80);
    padding: 0.8rem;
    border-radius: 10px;
    background-color: #161618a1;
    filter: contrast(4.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    max-width:fit-content;
}